.a{
    color:darkred;
   width: 100px;
   text-align: center;
   border-bottom: 1px solid darkred;
  
   

}

.b{
    color:darkred;
    width: 350px;
    text-align: center;
    border-bottom: 1px solid darkred;
    
 }


 .c{
    color:darkred;
    width: 100px;
    text-align: center;
    background-color: lightblue;
    
 
 }
 
 .d{
    color:darkred;
     width: 350px;
     text-align: center;
     background-color: lightblue;
     
  }




  .e{
    color:darkred;
    width: 100px;
    text-align: center;
    
 
 }
 
 .f{
    color:darkred;
     width: 350px;
     text-align: center;
     
  }






  .g{
    color:darkred;
    width: 100px;
    text-align: center;
    background-color: lightblue;
    
 
 }
 
 .h{
    color:darkred;
     width: 350px;
     text-align: center;
     background-color: lightblue;
     
  }







 .o{
    border-top: 1px solid darkred;
    border-bottom: 1px solid darkred;
    

 }



 .aa{
     color: white;
     background-color:lightskyblue;
     text-align: center;
     width: 200px;
     
 }




 .bb{
     background-color:darkturquoise;
     color: white;
    
     text-align: center;
 }


 .cc{
     background-color:darkcyan;
     color:white;
     text-align: center;
 }














